[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivymd = "*"

[dev-packages]
buildozer = "*"
python-dotenv = "*"
watchdog = "*"
cython = "*"

[requires]
python_version = "3.11"
